<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadow.extension25_autoconfig.test.mapper.CountHelperMapper">

    <!--  通用查询结果映射  -->
    <resultMap id="BaseResultMap" type="com.shadow.extension25_autoconfig.test.entity.CountHelper">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="fn_account" property="fnAccount" />
        <result column="count" property="count" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="date" property="date" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!--  统一查询结果列  -->
    <sql id="Base_Column_List">
        id , type, fn_account, count, year, month, date, create_time, update_time, create_by, update_by
    </sql>

    <insert id="batchSave">
        INSERT INTO
        count_helper(<include refid="Base_Column_List" />)
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (null,#{item.type},#{item.fnAccount},#{item.count},#{item.year},#{item.month},#{item.date},#{item.createTime},#{item.updateTime},#{item.createBy},#{item.updateBy})
        </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE
        FROM
        count_helper
    </delete>

    <select id="queryAll" resultType="com.shadow.extension25_autoconfig.test.entity.CountHelper">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        count_helper
    </select>
</mapper>